body{
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #000000;
    background-color: #ffffff ;
    font-stretch: normal;
    letter-spacing: normal;

}



.inner-page{/*общие стили для catalog.html*/
    font: inherit;
    color: #000000;
    font-family: "PT Sans", "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-top: -40px;
}



                /*стили для index.html*/
            /*Г Л О Б А Л Ь Н Ы Е  С Т И Л И*/
a {
    text-decoration: none;
}



img {
  max-width: 100%;
  height: auto;
}



.button{
    font: inherit;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #ee3643;
    border: none;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}


.button:hover,
.button:focus{
    background-color: #ca2c37;
}


.button:active{
    background-color: #ba2732;
}



.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}





            /*С Т И Л И   Д Л Я  Ш А П К И*/
.for-main{
   overflow: hidden;

}

.first_head{
    color: white;
    background-color: #293449;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
}


.first_head .container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}




.section_one{
    width: 490px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
}


.main-header-logo{
    width: 220px;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ee3643;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}


.main-header-logo:hover{
    background-color: #ca2c37;
}


.main-header-logo:focus{
    background-color:  #ee3643;
}

.main-header-logo:active{
    background-color: #ba2732;
}


.wrap-for-seacrh{
     position: relative;
     outline: none;
}



.search{
    display: block;
    padding-top: 14px ;
    padding-bottom: 14px;
    background-color: #293449;
    border: 0px solid transparent;
    outline: none;
    padding-left: 50px;/*место для иконки поиска*/
    padding-right: 70px;
    vertical-align: middle;
    margin-left: 0px;/**/
    color: white;
    font-size: 17px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
}



.wrap-for-seacrh a::before {
  content: "";
  padding-left: 30px;
  position: absolute;
  top: 13px;
  left: 15px;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-search-default.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}


.search:hover {
    background-color: #212a3a;
}


.wrap-for-seacrh a:hover::before{
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
}

.search:focus{
    background-color: white;
    color: black;
    outline: none;
}


.wrap-for-seacrh a:active::before{
    background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity:1;
}


.section_two{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.user-navigation-in-main-header{
    display: flex;
    max-width: 150px;
    list-style: none;
    margin:0;
    padding:0;
}

.user-navigation-in-main-header a{
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: middle;
    color: #ffffff;
}


a.bookmark-icon{
    padding-right: 27px;
    padding-left: 44px;

}

.bookmark-icon{
    position: relative;
    cursor: pointer;
    line-height: 18px;
}



.bookmark-icon::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}



.bookmark-icon:hover{
    background-color: #212a3a;
}



.bookmark-icon:hover::before{
    background-image: url("../img/icon-bookmark.svg");
    background-position: 0 0;
    background-repeat:  no-repeat;
    opacity: 1;
}



.bookmark-icon:active{
    color: rgba(255, 255, 255, 0.6)
}


.bookmark-icon:active::before{
    background-image: url("../img/icon-bookmark.svg");
    background-position: 0 0;
    background-repeat:  no-repeat;
    opacity: 0.6;
}


a.trash{
    padding-right: 29px;
    padding-left: 50px;
}


.trash{
    position: relative;
    cursor: pointer;
    line-height: 18px;
}

.trash-fill{
    background-color: #ee3643;

}


.trash::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}



.trash:hover,
.trash:focus{
    background-color:#212a3a;
}


.trash:hover::before{
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity:1;
}


.trash:active{
    background-color:#161d29;
    opacity: 0.5;
}


a.make-order-button{
    padding-left: 21px;
    padding-right: 20px;
    line-height: 18px;
    text-transform: none;
    background-color: #63a63e;
    cursor:pointer;
    outline: none;
}



.make-order-button:hover,
.make-order-button:focus{
    background-color: #5fbb2d;
    box-shadow: none;
}


.make-order-button:active{
    background-color:#63a63e;
    color: rgba(255, 255, 255, 0.5);
}




.second_head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f4f7f9;
    margin-bottom: 60px;
}



.content_of_second_head{
    width: 940px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 25px;
}


.content_of_second_head section:nth-child(1){
    width: 196px;
    padding-left: 20px;

}


.content_of_second_head section:nth-child(2){
    width:  270px;
}




.info_about_shop{
    width: 190px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
}


.phone{
    display: block;
    width: 195px;
    position: relative;
    padding-left: 70px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 4px;
}



.phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}




.addresss{
    margin-left: 5px;
    color: #32425c;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
}



.wrap-for-login-button{
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top:-25px;
    margin-left: -20px;
}

.for-login-icon{
    position: relative;
}


.for-login-icon::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 15px;
    left: 12px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.button_login{
    background-color:#ffffff;
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right:27px;
    margin-left: -3px ;
    color: #000000;
    text-transform: none;
    font-size: 21px;
    line-height: 1;
}


.button_registration{/*кнопка Регистрация*/
    background-color:#ffffff;
    padding-top: 12px ;
    padding-bottom: 12px;
    padding-right: 22px;
    padding-left: 25px;
    color: #000000;
    text-transform: none;
    font-size: 21px;
    line-height: 1;
}


.content_of_second_head section:last-child{
    margin-right: -40px;
}


.button_login:hover,
.button_login:focus,
.button_registration:hover,
.button_registration:focus{
    background-color:#ffffff;
    color: #ee3643;
}


.button_login:active,
.button_registration:active{
    color:rgba(0, 0, 0, 0.3);
}


.for-login-icon:hover::before{
   background-image: url("../img/icon-login-active.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}

.for-login-icon:active::before{
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}




                    /* С Т И Л И  Д Л Я  Б Л О К   Н А В И Г А Ц И Я*/
.main-navigation-wrapper{
    width: 100%;
    min-height: 65px;
    background-color:  #f4f7f9;

}


.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;

}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}


.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    background-color: #32425c;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    color: #ffffff;
    box-shadow:   inset 0px -5px 0 0 #293449;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}


.site-navigation .first-element{
    padding-left: 58px;

}


.site-navigation .last-element{
    padding-right: 58px;
}



.site-navigation a{
    display: block;
    padding: 25px 29px;
    vertical-align: middle;
    color: #ffffff;
}




.site-navigation a:hover,
.site-navigation a:focus{
    box-shadow: inset 0px -5px 0 0 #293449;
    background-color: #293449;
}


.site-navigation a:active{
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
    opacity: 0.5;
}



.cards{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}


.visually-hidden-1 {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}


.three-cards{
    margin-bottom: 40px;
}



.wrapper-cards{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}


.slider{
    position: relative;
}


.slider-controls{
    position: absolute;
    left: 320px;
    bottom: 60px;
    z-index: 100;
    width: 60px;
    height: 18px;
    text-align: center;
    transform: translateX(-50%);
}




.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: center;
  width: 10px;
  height: 10px;
  padding: 6px;/**/
  border-radius: 50%;
  cursor: pointer;
 }


.slider-controls label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 10px;
    width: 10px;
    height: 10px;
    z-index: 1;
    background: white;
    border-radius: 50%;
}


.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 14px;
  bottom: 20px;
  width: 6px;
  height: 6px;
  margin: -4px;
  border: 2px solid white;
  background:  #ee3643;
  border-radius: 50%;
  z-index: 2;

}


.slider-list {
    width: 620px;
    margin: 0;
    padding: 0;
    list-style: none;
}



.slider-item {
  display: none;/*не показываем*/

}



#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}


#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}


#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before{
  content: "";
  position: absolute;
  left: 14px;
  bottom: 12px;
  width: 6px;
  height: 6px;
  margin: -4px;
  border: 2px solid white;
  background:  #ee3643;
  border-radius: 50%;
  z-index: 2;

}



.slider-item h3{
    margin:0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: uppercase;
    color: white;
}


.slider-item:first-child h3::before{
    content:"Перфораторы";
    position: absolute;
    top: 27px;
    left: 24px;
}

.slider-item:last-child h3::before{
    content:"Дрели";
    position: absolute;
    top: 27px;
    left: 24px;
}


.slider-item h4{
    margin:0;
    font-family: "Cuprum", "Arial" ,sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: white;
}



.slider-item:first-child h4::before{
    content:"Настоящие мужские игрушки";
    position: absolute;
    top: 67px;
    left: 24px;

}


.slider-item:last-child h4::before{
    content:"Соседям на радость!";
    position: absolute;
    top: 67px;
    left: 24px;

}



.slider-item::before{
    content:"";
    position: absolute;
    top: 110px;
    left: 24px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.slider-item::after{
    content:"";
    position: absolute;
    top: 110px;
    right: 24px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.slider-item-button{
    display:block;
    width: 195px;
    content: "";
    position: absolute;
    left: 24px;
    bottom: 45px;
    padding: 10px 0;
    border-radius: 2px;
}



.slider-item .slider-item-button::before{
    content:"";
    position: absolute;
    top: 110px;
    right: 24px;
    width: 22px;
    height: 40px;
}



.block-item{
    position:relative;
    width: 300px;
    height: 103px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
}

.block-item .flag{
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;


}

.block-item  .flag-on-card{
     background: url("../img/photoeditorsdk-export.png") no-repeat 0 0;
}


.block-item h3{
    margin: 0;
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 30px;
}




.for-label-button{
    position: relative;
    padding-left: 25px;
    padding-top: 20px;
}



.icon{
    position: absolute;
    top: 18px;
    right: 40px;
}


.last-two-cards{
    margin-right: 0;
    width: 275px;

}


div .last-two-cards:nth-child(1){
    background-color:  #8ed78f;
}


div .last-two-cards:nth-child(2){
    background-color: #ffc047;
}




.block-item:nth-child(1){
    background-color: #ffbf47;
}


.block-item:nth-child(2){
    background-color: #3bbce3;
}


.block-item:nth-child(3){
    background-color: #dc91d8;
    margin-right: 0;
}


.block-item .button-on-cards{
    width: 135px;
    position: absolute;
    top: 65px ;
    left: 0px ;

    padding: 10px 0;
    text-align: center;
    margin-left:25px;
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: white;

    border-radius: 3px;
    font-family: "Cuprum", "Arial" ,sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;


}


.block-item a:hover{
   opacity: 0.2;
   background-color: #000000;
}


.block-item a:active{
    opacity: 0.3;
    background-color: #000000;
}


.catalog-item-on-main-page:nth-child(4){
    margin-right: 0;
}


.popular-tovar{
   display: flex;
   justify-content:space-between;
   align-items:center;
   width: 886px;
   min-height: 49px;
   padding: 20px;
   padding-left:30px;
   padding-right: 24px;
   background-color: #f9f5f0;
   margin-bottom: 20px;
   display: -webkit-box;/*для IE*/
   display: -ms-flexbox;
   display: -webkit-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
}


h2.page-title{
    margin:0;
    width: 684px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}



.popular-tovar-button{
    width: 268px;
    min-height: 12px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 1;
    border-radius: 3px;
}


.catalog-perfomances{
    width: 1020px;
    margin-bottom: 65px;
}


.catalog-list-perfonamces{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}


.catalog-item-perfomances{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 125px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    display: -webkit-box;/*для IE*/
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
}



.catalog-item-perfomances:hover{
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.catalog-item-perfomances:active{
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}


.catalog-item-perfomances:nth-child(4n){
    margin-right:0;
}


.catalog-item:hover{
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}


                /*блок Сервисы  и Доставка*/
.delivery-services-section{
    min-height: 522px;
    background-color:  #f4f7f9;
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;

}


.about-cervices{
    margin-bottom: 30px;
}


.services{
     padding-top: 65px;
     font-family: "Cuprum", "Arial", sans-serif;
     font-size: 30px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 30px;
     letter-spacing: normal;
     text-transform: uppercase;
}


.text-about-services{
    width: 400px;
    margin-bottom:70px;
}


.containre-for-menu-with-block{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.wrap_for-delivery-one{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 619px;
    position: relative; /*родитель для картикни*/
}


.title-services{
    padding-top:0;
    margin: 0;
    margin-bottom: 20px;
    color: #32425c;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}


.wrap_for-delivery-two{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
     width: 619px;
    position: relative;

}


.wrap_for-delivery-three{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 619px;
    position: relative;
    padding-bottom: 120px;
}


.text-credit{
    margin-bottom: 30px;

}

.button-send-email{
    display: block;
    width: 195px;
    padding: 10px 0;
    max-height: 38px;
    border-radius: 2px;
    margin-bottom: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
}



.menu{
     position: relative;
     list-style: none;
     width: 240px;
     padding: 0;
     margin: 0;
     margin-right: 80px;
}


.menu::after{
    position: absolute;
    content: "";
    top: -30px;
    left: 230px;
    width: 10px;
    height:279px;
}



.menu li {
  margin-bottom: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
}


.menu li:nth-child(1){
     background-color: white;
}



.menu a {
    display: block;
    padding: 16px 16px;
    padding-left: 20px;
    color:  white;
    /*margin-top: -1px;*/
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    background-color: #32425c;
}




.menu a:hover{
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
    background-color: #293449;
}




.menu a:active{
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
    background-color: #ffffff;
    color: #32425c;
}



.menu  li.active{
    background-color: #ffffff;
    color: #32425c;
}



.hidden {
  display: none;
}



.shadow{
    margin:0;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}


.about-delivery{
    width: 275px;
    margin-bottom: 30px;
    position: relative;
}

.about-guarantee{
    width: 376px;
    margin-bottom: 30px;
    position: relative;
}

.about-credit{
    width: 279px;
    position: relative;

}


.for-delivery-image-one{
    content: "";
    position: absolute;
    top: 22px;
    right: 0px;
    width: 468px ;
    height: 251px ;
}


.for-delivery-image-two{
    content: "";
    position: absolute;
    top:0px;
    right: -5px;
    width: 389px;
    height: 283px;
}


.for-delivery-image-three{
    content: "";
    position: absolute;
    top: 10px;
    right: -40px;
    width: 465px ;
    height: 285px ;
}


/*блок Компания Техномарт и Контакты*/

.index-columns {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    color: #000000;
}


.title-technomart{
    padding-top:0;
}


.company{
    width: 519px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.contacts{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.index-columns h2{
    margin-bottom: 30px;
    margin-top: 80px;
}


.index-columns p{
    margin: 0;
}


p.text{
     line-height: 24px;
     margin: 0;
     margin-bottom: 20px;
     font-family: "PT Sans",  "Open Sans", sans-serif;
     font-size: 13px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.85;
     letter-spacing: normal;
}


.company .text-about-shopping{
   width:560px;
}


.text-about-remote-points{
   max-width: 440px;

}

.text-about-self-delivery{
    width: 179px;
    margin-bottom: 20px;
}


.items-companies{
    margin:0;
    font-family: "Cuprum", "Arial", sans-serif;
    color:black;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
}


.items-companies  div{
   margin-bottom: 20px;
}


.items-companies  div:last-child{
    margin-bottom:35px;
}


.defis{
    width: 150px;
    height: 2px;
    color:  #ee3643;
    margin-right: 10px;
}


.more-details-button{
    width: 140px;
    padding: 10px 38px;
    border-radius: 3px;
    margin-bottom: 80px;
}


.contacts p{
    margin-bottom: 25px;
}


.contacts .map{
    margin-bottom: 25px;
}


.write-us-button{
    display: block;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
}


           /*С Т И Л И  Д Л Я  П О Д В А Л А*/
.main-footer {
    margin-top: 65px;
}


.for_footer_part_one{
    background-color: #32425c;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
}


.for_footer_part_one .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.wrap-for-footer_first_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.logo-for-footer{
    margin-right: auto;
    padding-top:20px;
    padding-bottom: 25px;
}


.for_footer_part_one  .footer_first_menu{
    width: 550px; /*720*/
    min-height: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0;
    margin-top: 35px;
    padding-left: 170px;
    list-style: none;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}



.footer_first_menu a{
    color: #f1f5f7;
}


.footer_first_menu a:hover,
.footer_first_menu a:focus{
    text-decoration: underline;
}



.for_footer_part_one  section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 40px;
}


.about-address-footer{
    width: 450px;
    margin:0;
    margin-right: 50px;
    min-height: 40px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}



.footer_first_menu a:active{
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}


.footer_second_menu{
    width: 720px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:0;
    padding-left: 60px;
    margin-top:-30px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}


.footer_second_menu:last-child{
    padding-right: 0;
}


.footer_second_menu a{
    color: #ffd180;
}


.footer_second_menu a:hover,
.footer_second_menu a:focus{
    text-decoration: underline;
}


.footer_second_menu a:active{
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}


.for_footer_part_two{
    background-color:#293449;
    color: #ffffff;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
}



.for_footer_part_two .container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.for_footer_part_two  p:nth-child(1){
    margin-right: 140px;
}


.for_footer_part_two  p:nth-child(3){
    margin-left: auto;
}

.for_footer_part_two  p:nth-child(4){
    margin-left: 50px;
}


.list_socials{
    display: flex;
    width: 141px;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.social-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 20px;
}


.social-button:hover,
.social-button:focus,
.social-button:active{
    background-color: #ee3643;
}



.feedback{
    color: #ffd180;
}


.for_link{
    color: #ffd180;
}

.feedback:hover,
.for_link:hover{
    text-decoration: underline;
}


.feedback:active,
.for_link:active{
    color:#ee3643;
    text-decoration: none;
}



                    /*С Т И Л И  Д Л Я catalog.html*/

.wrap-for-logout-button{
    width: 310px;
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-left: -15px;
    background-color: white;
}


.for-user-icon{
    position:relative;
}


.for-user-icon::before{
   content: "";
   position: absolute;
   width: 20px;
   height: 18px;
   top: 4px;
   left: 13px;
   background-image: url("../img/icon-user.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
}


.for-user-icon:hover::before{
    background-image: url("../img/icon-user-blue.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.for-user-icon:active::before{
    background-image: url("../img/icon-user-active.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.for-logout-icon{
    position:relative;
}


.for-logout-icon::after{
  content: "";
  position: absolute;
  top: -3px;
  left: 40px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



.for-logout-icon:hover::after{
    background-image: url("../img/icon-logout-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.for-logout-icon:active::after{ /*ghb yf;fnbb*/
    background-image: url("../img/icon-logout-active.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.name{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-family: "Cuprum", "Arial" ,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    padding-left: 45px;
}



.name:active{
   color: rgba(0, 0, 0, 0.3);
}



.small_link{
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
}


.small_link:hover,
.small_link:focus{
    color: #ee3643;
}


.small_link:active{
    color:  rgba(50, 66, 92, 0.3);
}



.wrap-for-small-link{
    width: 280px;
    margin-left: 20px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
}


.small_link_second{
    position: relative;
    padding-left: 30px;
}



.small_link_second::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    top:5px;;
    left:10px;
    background-color: #32425c;
    border-radius: 5px;
}




.breadcrumbs{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    margin-top: -40px;
}



.breadcrumbs li{
  position: relative;
  margin-right: 20px;
  margin-left: 23px;
}



.breadcrumbs li:last-child {
  margin-right: 0;
}


.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 5px;
  right: -25px;
  background: url("../img/icon-right-small.svg") no-repeat;
}



.breadcrumbs-current::after {
   display: none;
}



.before-catalog a::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 4px;
  right: 10px;
  background: url("../img/icon-home.svg") no-repeat;
}




.breadcrumbs a{
   font-family: "PT Sans", "Open Sans", sans-serif;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.38;
   letter-spacing: normal;
   color: #000000;
}


.breadcrumbs-current{
    text-decoration: none;
}


.breadcrumbs a:hover,
.breadcrumbs a:focus{
   text-decoration: underline;

}



.change-fon{
     background-color: #f4f7f9;
}



.block-for-filter-sortirovka{
    display: flex;
    justify-content: space-between;
    padding:  0;
    margin: 0;
    list-style: none;
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    margin-bottom: 20px;
}


.filtes-small-block{
    width: 200px;
    background-color: #f7f3ec;
    padding: 11px 0;
    padding-left: 20px;
}

.wrap-for-filter-big-block{
    width: 700px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 38px;
    background-color: #f7f3ec;
}

.sort-item{
    margin-left: 15px;
    padding-right: 0;
}


.sortirovka-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left:0;
    margin: 0;
    list-style: none;
    position: relative;
}


.sortirovka-block li{
    margin-left: 65px;
    border-bottom: 1px dotted  #ee3643;
    color: rgba(0, 0, 0, 0.3);

}

.sortirovka-block li:nth-child(1){
    margin-left: 145px;
}

.sortirovka-block li:nth-child(4){
    margin-right: auto;
}



.sortirovka-block .arrow-1{
    border-bottom: none;
}


.sortirovka-block .arrow-2{
    border-bottom: none;
}



.sortirovka-block .arrow-1::before{
    content: "";
    position: absolute;
    top: 3px;
    right: 20px;
    width: 11px;
    height: 11px ;
    background-image: url("../img/icon-up-dir.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}


.sortirovka-block .arrow-2::before{
    content: "";
    position: absolute;
    top: 3px ;
    right: -10px;
    width: 11px;
    height: 11px;
    background-image: url("../img/icon-down-dir.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}



.sortirovka-block li:not(.arrow-1):hover,
.sortirovka-block li:not(.arrow-2):hover{
    color: black;
    border-bottom: 1px solid #ee3643;
}



.sortirovka-block .arrow-1:hover::before{
    background-image: url("../img/icon-up-dir-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.sortirovka-block .arrow-2:hover::before{
    background-image: url("../img/icon-down-dir-hover.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.sortirovka-block .arrow-1:active::before{
    background-image: url("../img/icon-up-dir-active.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}



.sortirovka-block .arrow-2:active::before{
    background-image: url("../img/icon-down-dir-active.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}


.sortirovka-block li:nth-child(1):active,
.sortirovka-block li:nth-child(2):active,
.sortirovka-block li:nth-child(3):active{
    color:#ee3643;
    border-bottom: none;
}



.catalog-columns {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 60px;
}




.filters{
    width: 220px;
    margin-right: 20px;
}


.filter fieldset{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: none;
}


.filter fieldset:nth-child(3){
    margin-top: -15px;
}


                            /*стили для ползунка*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}



.range-filter {
  width: 220px;
  margin-top: 0px;
}


.filter-item legend {
  font-family: "PT Sans", "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
}


.range-controls {
  position: relative;
  height: 41px;
  background-color: #f7f3ec;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}


.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}


.range-controls .bar {
  width: 90%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}


.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
   left: 165px;
}


.price-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}


.price-controls input {
    width: 66px;
    padding: 10px 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #f7f3ec;
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    color: #000000;
}

.grey-border{
    border-bottom:  1px solid #e5e5e5;
}


.filter legend{
    margin-left: 0;
    padding-left:0;
    margin-bottom: 14px;
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: normal;
}


.filter ul{
    padding: 0;
    margin: 0;
    list-style: none;
}



.filter-option{
    margin-bottom: 14px;
    padding-left: 45px;
}


.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-bottom: 15px;
    padding-top:2px;
}



.filter-option:nth-child(5) {
    padding-bottom: 10px;
    border-bottom:  1px solid #e5e5e5;
}



.filter-input:hover + label,
.filter-input:focus + label {
    color:#b5b5b5;

}



.filter-input:disabled + label{
    color: rgba(0, 0, 0, 0.4);
}



.filter label{
    font-size: 15px;
    line-height: 20px;
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}




.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -44px;
  top: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}


.filter-input-checkbox + label:hover::before{
     background: url("../img/checkbox-off-hover.svg") no-repeat 0 0;
}



.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -44px;
  top: 0px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}


.filter-input-checkbox:checked + label:hover::after {
     background: url("../img/checkbox-on-hover.svg") no-repeat 0 0;
}




.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: 0px;
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
}



.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -46px;
  top: 0px;
  width: 25px;
  height: 25px;

  background: url("../img/radio-on.svg") no-repeat 0 0;
}



.filter-input-radio + label:hover::before{
     background: url("../img/radio-off-hover.svg") no-repeat 0 0;
}


.filter-input-radio:checked + label:hover:after{
     background: url("../img/radio-on-hover.svg") no-repeat 0 0;
}




.button_show{
  display: block;
  padding:10px  38px;
  background-color: white;
  color: black;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  margin-top: 70px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Open Sans", sans-serif;
  outline: none;

}


.button_show:hover,
.button_show:active{
    background-color: white;
}



                    /*СТИЛИ К КАРТОЧКАМ ТОВАРОВ*/
.catalog-list{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}


.catalog-on-main-page{
    width: 940px;
}


.catalog-item {
    position: relative;
    width: 220px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
}



.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
}


.catalog-item .flag-new {
  background: url("../img/photoeditorsdk-export.png") no-repeat 0 0;
}



.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 40px 0;
  background-color: rgb(255, 255, 255);
}


.catalog-item .buy,
.catalog-item .bookmark{
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;


  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}


.catalog-item .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}



.catalog-item .actions {
  display: none;
}



.catalog-item:hover .actions {
  display: block;
}




.catalog-item .image {
   width: 218px;
   height: 170px;
}


.catalog-item .image img {
   max-width: 100%;
   height: auto;
}


.catalog-item .title {
    font-size: 18px;
    font-family: "PT Sans",  "Open Sans", sans-serif;
    line-height: 20px;
    text-transform: none;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}




.catalog-item .discount {
  font-family: "PT Sans",  "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}



.catalog-item .price{
    position: relative;
    width: 141px;
    min-height: 18px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 0;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    font: inherit;
    font-family: "PT Sans",  "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 1;
}



.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}




.catalog-item .buy{
    position: relative;
    color: #ffffff;
    background-color: #63a63e;
}


.catalog-item .buy::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top:  2px;
    left: 14px;
    background: url("../img/icon-cart.svg") no-repeat 0 0;
    opacity: 0.3;
}



.catalog-item .buy:hover,
.catalog-item .buy:focus{
    background-color: #5fbb2d;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.catalog-item .buy:hover::before{
    opacity: 1;
}


.catalog-item .buy:active{
    background-color: #518534;
    border: 3px solid transparent;
}



.catalog-item .bookmark{
    background-color: #ffffff;
    color: #32425c;
}



.catalog-item .bookmark:hover,
.catalog-item .bookmark:focus{
    border: solid 3px #32425c;
    color: #32425c;
}


.catalog-item .bookmark:active{
    color: rgba(50, 66, 92, 0.3);
    border: solid 3px rgba(50, 66, 92, 0.3);
}


.filters h2.visually-hidden{
    display: none;
}


.catalog  h2.visually-hidden{
     display: none;
}



.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-left: 240px;
  list-style: none;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
}


.pagination-item {
   margin-right: 5px;
}


.pagination-item:last-child {
  margin-right: 0;
}


.pagination-item a{
    display: block;
    padding: 8px 13px;
    background-color:  #ffffff;
    border: solid 1px #e5e5e5;
    border-radius: 2px;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Open Sans",  sans-serif;
}



.next{
    padding: 8px 30px;
}

.pagination-item-current a{
    background-color: #ee3643;
    color: white;
}



.pagination-item a:hover,
.pagination-item a:focus{
    border: solid 1px #bdc6ca;

}


.pagination-item a:active{
    border: solid 1px #ee3643;
}




.about-perforators{
    width: 100%;
    min-height: 261px;
    background-color: #f4f7f9;
}




.about-perforators h1{
    margin: 0;
    padding-top: 67px;
    padding-bottom: 30px;
    font-family: "Cuprum",  "Arial" ,sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.85;
    letter-spacing: normal;
}



.text-about-perforators{
    padding-bottom: 73px;
    font-family: "PT Sans",  "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    text-transform: none;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



            /*СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}



.modal {
   color: #000000;
   background-color: #ffffff;
   position: fixed;
   box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
   border-top: 7px solid #ee3643;
   display: none;
}


.modal-show {
  display: block;
  animation: bounce 0.6s;
}


.modal-error {
  animation: shake 0.6s;
}




.modal-login {
    width: 460px;
    padding-left: 80px ;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 37px;
    top: 120px;
    left:  50%;
    margin-left: -230px;
}


.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}



.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px ;
  left: -2px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}



.modal-close::before {
  transform: rotate(45deg);
}



.modal-close::after {
  transform: rotate(-45deg);
}



.for-name-and-emal-fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}


.for-name-and-emal-fields label{
    display: block;
}


.modal-login  label{
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}



.login-form p{
    margin:0;
}


.wrap-for-label-with-field label{
    margin-bottom: 10px;
}


.login-form input[type="text"]{
    box-sizing: border-box;
    width: 220px;
    padding: 11px;
    padding-left: 14px;
    outline: none;
    font-family: "PT Sans",  "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #a9a9a9;
    text-transform: inherit;
    border:  2px solid #dee3e4;
    background-color: #ffffff;
    border-radius: 2px;
}



.login-form input:hover{
    border-color: #b5b5b5;
}


.login-form input:focus,
.login-form textarea:focus{
    border-color: #ee3643;
    background-color: white;
    box-shadow: none;
}


p .for-textarea-label{
    display: block;
    margin-bottom: 10px;
}


.login-form textarea{
    display: block;
    width: 94%;
    height: 110px;
    padding: 11px;
    padding-left: 14px;
    margin-bottom: 30px;
    outline: none;
    resize: none;
    border-radius: 2px;
    border: 2px solid  #dee3e4;
    font-family: "PT Sans",  "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #a9a9a9;

}


.login-form .wrap-for-button{
    display: block;
    width:  620px;
    text-align: center;
    margin-left: -80px;
    background-color:  #f4f4f4;
    margin-bottom: -40px;
}


.login-form button{
    width: 460px;
    padding: 14px 0;
    margin: 37px auto;
    border: none;
    outline: none;
    color: white;
    background-color: #ee3643;
    font-family: "Cuprum",  "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    border-radius: 2px;
    text-transform: uppercase;
}



            /*  МОДАЛЬНОЕ ОКНО "ДОБАВИТЬ В КОРЗИНУ"*/

.modal-trash{
   color: #000000;
   background-color: #ffffff;
   position: fixed;
   box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
   border-top: 7px solid #ee3643;
   display: none;
}


.modal-login-add-trash {
    width: 460px;
    padding-left: 80px ;
    padding-right: 90px;
    padding-top: 50px;
    padding-bottom: 37px;
    top: 300px;
    left: 50%;
    margin-left: -230px;
}



.modal-trash h3{
    margin:0;
    margin-top:20px;
    padding-left: 100px;
    margin-bottom: 55px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}


.modal-trash h3:before{
  content: "";
  position: absolute;
  top: 50px ;
  left: 80px;
  width: 66px;
  height: 66px;
  background-image: url("../img/modal-check.svg");
  background-position: 0 0;
  background-repeat: repeat;
}



.modal-trash  .fon-wrapper{
    width: 630px;
    background-color: #f1f1f1;
    margin-left: -80px;
    height: 112px;
    margin-bottom: -40px;
}


.for-buttons-in-trash{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:35px;
}


.for-buttons-in-trash a{
    display: block;
    width: 220px;
    border: 1px solid transparent;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: "Cuprum", "Arial",  sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-transform: uppercase;
    border-radius: 3px;
}


.for-buttons-in-trash a:first-child{
    background-color: #ee3643;
    margin-left: 80px;
    color: white;
}



.for-buttons-in-trash a:last-child{
    background-color: #ffffff;
    margin-right: 80px;
    color: black;
}

                        /*НАВИГАЦИОННАЯ КАРТА*/

.modal-map{
    top: 50%;
    left: 50%;
    width: 940px;
    height: 446px;
    margin-top: -280px;
    margin-left: -499px;
    border: none;
}


.modal-map p {
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}




.modal-close-for-map {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border:none;
  cursor: pointer;
}



.modal-close-for-map::before,
.modal-close-for-map::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}


.modal-close-for-map::before {
  transform: rotate(45deg);
}


.modal-close-for-map::after {
  transform: rotate(-45deg);
}
